.cart {
  background: $light;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: $dark;
  width: 336px;
  padding: 8px 8px 10px;
  display: flex;
  gap: 10px;

  &__wrapper {
    position: relative;
    width: 100px;
    height: 148px;
    flex-shrink: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  &__label {
    position: absolute;
    bottom: 8px;
    border-radius: 16px;
    width: 92px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 6px;
    background-color: $light;
    color: $dark2;
    font-size: 10px;
    line-height: 100%;
    white-space: nowrap;
    text-align: center;
  }

  &__content {
    padding-top: 3px;
  }

  &__titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 2px;
  }

  &__author {
    color: $secondaryDark;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 6px;
  }

  &__rating {
    display: flex;
  }

  &__rating-star {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 1px;
    &:last-child {
      margin-right: 0;
    }
  }

}
