.header {
  padding: 8px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 35px;
  }

  &__btn-add {
    display: none;
  }

  &__btn {
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    background-position: center right;
  }

  &__btn_search {
    background-image: url("../img/search.svg");
  }

  &__btn_back {
    background-image: url("../img/back.svg");
  }

  &__btn_delete {
    background-image: url("../img/trash.svg");
  }
}

