.header {
  padding: 8px 0;

  @include tablet {
    padding: 20px 0 15px;
  }

  @include desktop {
    padding: 30px 0 25px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 40px;
    margin-right: auto;

    @include laptop {
      height: 66px;
    }
  }

  &__btn-add {
    display: none;

    @include laptop {
      display: block;
      width: 320px;
      height: 50px;
      font-size: 14px;
      line-height: 100%;
      color: $light;
      background: $primary;
      border-radius: 8px;
      border: 0;
      margin-right: 102px;
    }

  }

  &__btn-hide {
    @include laptop {
      display: none;
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    background-position: left;
  }

  &__btn_search {
    background-image: url("../img/search.svg");
  }

  &__btn_back {
    background-position: left;
    background-image: url("../img/back.svg");
  }

  &__btn_delete {
    background-image: url("../img/trash.svg");
  }
}

