html {
  position: relative;
  box-sizing: border-box;
  min-width: 360px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  /* указать шрифт под проект*/
  font-size: 12px;
  font-weight: 400;
  color: $light; /*цвет под ваш проект*/
  background-color: $dark; /*цвет под ваш проект*/
  background-image: url("../img/fire.svg");
  background-size: cover;
  background-position: center top 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
